<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wigmanich.com</title>
</head>
<body bgcolor="#ffffff">

  <img src="images/label.jpg" width="600" height="573" alt="" style="display:  block; margin: 50px auto 0" />

</body>
</html>